In [1]:
strategies=['Rock','Paper','Scissors','Lizard','Spock']

In [2]:
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Rock','Lizard'):(1,0),
        ('Lizard','Rock'):(0,1),
        ('Rock','Spock'):(0,1),
        ('Spock','Rock'):(1,0),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Paper','Spock'):(1,0),
        ('Spock','Paper'):(0,1),
        ('Paper','Lizard'):(0,1),
        ('Lizard','Paper'):(1,0),
        ('Spock','Scissors'):(1,0),
        ('Scissors','Spock'):(0,1),
        ('Lizard','Scissors'):(0,1),
        ('Scissors','Lizard'):(1,0),
        ('Spock','Lizard'):(0,1),
        ('Lizard','Spock'):(1,0),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Lizard','Lizard'):(0,0),
        ('Spock','Spock'):(0,0)}

In [3]:
Players=[{'name':'John','score':0,'strategy':None},
         {'name':'Mary','score':0,'strategy':None}]

In [4]:
from random import choice

#simples: choose randomly
choice(strategies)

In [5]:
Players[0]['strategy']=choice(strategies)
Players[1]['strategy']=choice(strategies)

In [6]:
# current decision
Players[0]['strategy'],Players[1]['strategy']

In [7]:
result = payoff[Players[0]['strategy'],Players[1]['strategy']]
result

In [8]:
# update agents situation
Players[0]['score']+=result[0]
Players[1]['score']+=result[1]

In [9]:
# current agent situation
Players[0], Players[1]

In [10]:
import pandas as pd 

socialResults=pd.DataFrame((Players[0], Players[1]))
socialResults

   name  score strategy
0  John      0   Lizard
1  Mary      0   Lizard

In [11]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

   name  score strategy
0  John      0   Lizard
1  Mary      0   Lizard

In [12]:
# names of players
names=['Hanna','Becca','Bryn','Zoe','Marina','Annie','TJ','Oliver','Nick','Jose']

In [13]:
# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [14]:
# each player a dict:
society

[{'name': 'Hanna', 'score': 0, 'strategy': None},
 {'name': 'Becca', 'score': 0, 'strategy': None},
 {'name': 'Bryn', 'score': 0, 'strategy': None},
 {'name': 'Zoe', 'score': 0, 'strategy': None},
 {'name': 'Marina', 'score': 0, 'strategy': None},
 {'name': 'Annie', 'score': 0, 'strategy': None},
 {'name': 'TJ', 'score': 0, 'strategy': None},
 {'name': 'Oliver', 'score': 0, 'strategy': None},
 {'name': 'Nick', 'score': 0, 'strategy': None},
 {'name': 'Jose', 'score': 0, 'strategy': None}]

In [15]:
import itertools 
for pair in itertools.combinations(society,2):
    print(pair)

({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Becca', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Bryn', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Marina', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Annie', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'TJ', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Oliver', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'Hanna', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'Bryn', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'Marina', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'Annie', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'TJ', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'Oliver', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'Becca', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Bryn', 'score': 0, 'strategy': None}, {'name': 'Zoe', 'score': 0, 'strategy': None})
({'name': 'Bryn', 'score': 0, 'strategy': None}, {'name': 'Marina', 'score': 0, 'strategy': None})
({'name': 'Bryn', 'score': 0, 'strategy': None}, {'name': 'Annie', 'score': 0, 'strategy': None})
({'name': 'Bryn', 'score': 0, 'strategy': None}, {'name': 'TJ', 'score': 0, 'strategy': None})
({'name': 'Bryn', 'score': 0, 'strategy': None}, {'name': 'Oliver', 'score': 0, 'strategy': None})
({'name': 'Bryn', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'Bryn', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Marina', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Annie', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'TJ', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Oliver', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'Zoe', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Marina', 'score': 0, 'strategy': None}, {'name': 'Annie', 'score': 0, 'strategy': None})
({'name': 'Marina', 'score': 0, 'strategy': None}, {'name': 'TJ', 'score': 0, 'strategy': None})
({'name': 'Marina', 'score': 0, 'strategy': None}, {'name': 'Oliver', 'score': 0, 'strategy': None})
({'name': 'Marina', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'Marina', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Annie', 'score': 0, 'strategy': None}, {'name': 'TJ', 'score': 0, 'strategy': None})
({'name': 'Annie', 'score': 0, 'strategy': None}, {'name': 'Oliver', 'score': 0, 'strategy': None})
({'name': 'Annie', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'Annie', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'TJ', 'score': 0, 'strategy': None}, {'name': 'Oliver', 'score': 0, 'strategy': None})
({'name': 'TJ', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'TJ', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Oliver', 'score': 0, 'strategy': None}, {'name': 'Nick', 'score': 0, 'strategy': None})
({'name': 'Oliver', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})
({'name': 'Nick', 'score': 0, 'strategy': None}, {'name': 'Jose', 'score': 0, 'strategy': None})

In [16]:
import itertools 
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Becca', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Bryn', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Marina', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Annie', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'TJ', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Oliver', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'Hanna', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'Bryn', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'Marina', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'Annie', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'TJ', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'Oliver', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'Becca', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Bryn', 'score': 0, 'strategy': None} {'name': 'Zoe', 'score': 0, 'strategy': None}
{'name': 'Bryn', 'score': 0, 'strategy': None} {'name': 'Marina', 'score': 0, 'strategy': None}
{'name': 'Bryn', 'score': 0, 'strategy': None} {'name': 'Annie', 'score': 0, 'strategy': None}
{'name': 'Bryn', 'score': 0, 'strategy': None} {'name': 'TJ', 'score': 0, 'strategy': None}
{'name': 'Bryn', 'score': 0, 'strategy': None} {'name': 'Oliver', 'score': 0, 'strategy': None}
{'name': 'Bryn', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'Bryn', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Marina', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Annie', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'TJ', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Oliver', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'Zoe', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Marina', 'score': 0, 'strategy': None} {'name': 'Annie', 'score': 0, 'strategy': None}
{'name': 'Marina', 'score': 0, 'strategy': None} {'name': 'TJ', 'score': 0, 'strategy': None}
{'name': 'Marina', 'score': 0, 'strategy': None} {'name': 'Oliver', 'score': 0, 'strategy': None}
{'name': 'Marina', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'Marina', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Annie', 'score': 0, 'strategy': None} {'name': 'TJ', 'score': 0, 'strategy': None}
{'name': 'Annie', 'score': 0, 'strategy': None} {'name': 'Oliver', 'score': 0, 'strategy': None}
{'name': 'Annie', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'Annie', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'TJ', 'score': 0, 'strategy': None} {'name': 'Oliver', 'score': 0, 'strategy': None}
{'name': 'TJ', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'TJ', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Oliver', 'score': 0, 'strategy': None} {'name': 'Nick', 'score': 0, 'strategy': None}
{'name': 'Oliver', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}
{'name': 'Nick', 'score': 0, 'strategy': None} {'name': 'Jose', 'score': 0, 'strategy': None}

In [17]:
# chose each pair of players:

# list of players
society=[{'name':n,'score':0,'strategy':None} for n in names]


for player1,player2 in itertools.combinations(society,2):
    
    player1['strategy']=choice(strategies)
    player2['strategy']=choice(strategies)
    result=payoff[player1['strategy'],player2['strategy']]
    player1['score']+=result[0]
    player2['score']+=result[1]

In [18]:
society

[{'name': 'Hanna', 'score': 2, 'strategy': 'Rock'},
 {'name': 'Becca', 'score': 5, 'strategy': 'Scissors'},
 {'name': 'Bryn', 'score': 5, 'strategy': 'Rock'},
 {'name': 'Zoe', 'score': 5, 'strategy': 'Spock'},
 {'name': 'Marina', 'score': 3, 'strategy': 'Lizard'},
 {'name': 'Annie', 'score': 2, 'strategy': 'Paper'},
 {'name': 'TJ', 'score': 2, 'strategy': 'Rock'},
 {'name': 'Oliver', 'score': 6, 'strategy': 'Spock'},
 {'name': 'Nick', 'score': 3, 'strategy': 'Lizard'},
 {'name': 'Jose', 'score': 3, 'strategy': 'Rock'}]

In [19]:
socialResults=pd.DataFrame(society)
socialResults

     name  score  strategy
0   Hanna      2      Rock
1   Becca      5  Scissors
2    Bryn      5      Rock
3     Zoe      5     Spock
4  Marina      3    Lizard
5   Annie      2     Paper
6      TJ      2      Rock
7  Oliver      6     Spock
8    Nick      3    Lizard
9    Jose      3      Rock

In [20]:
filter1=socialResults.score==socialResults.score.max()
winner=socialResults[filter1]

#social outcome
winner

     name  score strategy
7  Oliver      6    Spock

In [21]:
filter2=socialResults.score==socialResults.score.min()
loser=socialResults[filter2]

#social outcome
loser

    name  score strategy
0  Hanna      2     Rock
5  Annie      2    Paper
6     TJ      2     Rock